<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="多玩游戏">
    <meta name="description" content="">
    <title> 多玩游戏 </title>
    <link href="css/global.css" rel="stylesheet">
    <base target="_blank">
</head>
<body>

    <div class="conf-featured">
        <% include partial/conf-featured1 %>
    </div>
    
    <div class="conf-featured">
        <% include partial/conf-featured2 %>
    </div>
    
    <div class="g-row conf-release">
        <% include partial/conf-new-release1 %>
    </div>
    
    <div class="g-row conf-release">
        <% include partial/conf-new-release2 %>
    </div>
    
    <div class="g-row conf-liveVideo">
        <% include partial/conf-live-video1 %>
    </div>
    
    <div class="g-row conf-liveVideo">
        <% include partial/conf-live-video2 %>
    </div>
    
    <div class="g-row conf-scenePhoto">
        <% include partial/conf-scene-photos1 %>
    </div>
    
    <div class="g-row conf-scenePhoto">
        <% include partial/conf-scene-photos2 %>
    </div>
    
    <div class="g-row conf-standby">
        <% include partial/conf-standby1 %>
    </div>
    
    <div class="g-row conf-standby">
        <% include partial/conf-standby2 %>
    </div>
    
    
    <script src="http://assets.dwstatic.com/amkit/entry.js"></script>
    <script src="./js/main.js"></script>
    
</body>
</html>
