<div class="conf-header g-inner">
    <h1 class="u-hideTxt">欢聚时代互动娱乐 2015年品牌发布会</h1>
    <h2 class="u-hideTxt">多玩展会报道 5/28·广州W酒店</h2>
    
    <div class="conf-intro">
        <p><strong class="conf-intro__tit">展会介绍</strong>畅游GAME+新品发布会已于今日17:00正式落幕,游</p>
        <p>久网小编有幸来到北京,在发布会现场见闻了这一场视听盛宴</p>
        <p>2014畅游GAME+今日开启:现场流程曝光 2014畅游新</p>
        <p>品发布。在发布会现场见闻了这一场视听感受盛宴。</p>
    </div>
    <!-- 展会介绍 end -->
    
    <div class="conf-nav" id="conf-nav">
        <ul class="conf-nav__left">
            <li><a href="#" class="is-current" target="_self">专题首页</a></li>
            <li><a href="#">新品发布</a></li>
            <li><a href="#">现场视频</a></li>
        </ul>
        <ul class="conf-nav__right">
            <li><a href="#">现场照片</a></li>
            <li><a href="#">展会资讯</a></li>
            <li><a href="#">发布会前瞻</a></li>
        </ul>
    </div>
    <!-- 头部导航 end -->
</div>
<!-- 头部 end -->
