<div class="g-inner ui-panel">
    <div class="ui-panel__hd">
        <h2 class="ui-panel__tit">新品发布</h2>
        <span class="ui-panel__meta">/ The new release</span>
        <div class="ui-panel__more">
            <a href="#">更多></a>
        </div>
    </div>
    <div class="ui-panel__bd">
        <ul class="ui-figure ext-releaseB">
            <li class="ui-figure__item">
                <a href="#" class="ui-figure__bd" title="">
                    <img src="http://ued.yypm.com/150x248" alt="" class="ui-figure__img" />
                </a>
                <div class="ui-figure__caption">
                    <h3 class="ui-figure__tit">腾讯正式代理竞技网游《全t职大师》5月首测</h3>
                    <ul class="g-half conf-releaseInfo">
                        <li>研发：中国大陆</li>
                        <li>状态：5月首测</li>
                        <li>运营：腾讯</li>
                        <li>产地：韩国</li>
                    </ul>
                    <div class="conf-releaseNews">
                        <h4 class="conf-releaseNews__tit">相关新闻</h4>
                        <ul class="ui-list ext-releaseNews">
                            <li class="ui-list__item"><a href="#">光荣正版PCA页游《大航海t时代5》不删档情报月</a></li>
                            <li class="ui-list__item"><a href="#">3D写实第一人称射击网页游戏《火线行动》截图</a></li>
                            <li class="ui-list__item"><a href="#"> 新战略塔防页游来袭 《城防三国》留档内测今日</a></li>
                        </ul>
                    </div>
                    <p class="ui-figure__more">
                        <a href="#">了解更多 ></a>
                    </p>
                </div>
            </li>
            <li class="ui-figure__item">
                <a href="#" class="ui-figure__bd" title="">
                    <img src="http://ued.yypm.com/150x248" alt="" class="ui-figure__img" />
                </a>
                <div class="ui-figure__caption">
                    <h3 class="ui-figure__tit">腾讯正式代理竞技网游《全t职大师》5月首测</h3>
                    <ul class="g-half conf-releaseInfo">
                        <li>研发：中国大陆</li>
                        <li>状态：5月首测</li>
                        <li>运营：腾讯</li>
                        <li>产地：韩国</li>
                    </ul>
                    <div class="conf-releaseNews">
                        <h4 class="conf-releaseNews__tit">相关新闻</h4>
                        <ul class="ui-list ext-releaseNews">
                            <li class="ui-list__item"><a href="#">光荣正版PCA页游《大航海t时代5》不删档情报月</a></li>
                            <li class="ui-list__item"><a href="#">3D写实第一人称射击网页游戏《火线行动》截图</a></li>
                            <li class="ui-list__item"><a href="#"> 新战略塔防页游来袭 《城防三国》留档内测今日</a></li>
                        </ul>
                    </div>
                    <p class="ui-figure__more">
                        <a href="#">了解更多 ></a>
                    </p>
                </div>
            </li>
            <li class="ui-figure__item">
                <a href="#" class="ui-figure__bd" title="">
                    <img src="http://ued.yypm.com/150x248" alt="" class="ui-figure__img" />
                </a>
                <div class="ui-figure__caption">
                    <h3 class="ui-figure__tit">腾讯正式代理竞技网游《全t职大师》5月首测</h3>
                    <ul class="g-half conf-releaseInfo">
                        <li>研发：中国大陆</li>
                        <li>状态：5月首测</li>
                        <li>运营：腾讯</li>
                        <li>产地：韩国</li>
                    </ul>
                    <div class="conf-releaseNews">
                        <h4 class="conf-releaseNews__tit">相关新闻</h4>
                        <ul class="ui-list ext-releaseNews">
                            <li class="ui-list__item"><a href="#">光荣正版PCA页游《大航海t时代5》不删档情报月</a></li>
                            <li class="ui-list__item"><a href="#">3D写实第一人称射击网页游戏《火线行动》截图</a></li>
                            <li class="ui-list__item"><a href="#"> 新战略塔防页游来袭 《城防三国》留档内测今日</a></li>
                        </ul>
                    </div>
                    <p class="ui-figure__more">
                        <a href="#">了解更多 ></a>
                    </p>
                </div>
            </li>
            <li class="ui-figure__item">
                <a href="#" class="ui-figure__bd" title="">
                    <img src="http://ued.yypm.com/150x248" alt="" class="ui-figure__img" />
                </a>
                <div class="ui-figure__caption">
                    <h3 class="ui-figure__tit">腾讯正式代理竞技网游《全t职大师》5月首测</h3>
                    <ul class="g-half conf-releaseInfo">
                        <li>研发：中国大陆</li>
                        <li>状态：5月首测</li>
                        <li>运营：腾讯</li>
                        <li>产地：韩国</li>
                    </ul>
                    <div class="conf-releaseNews">
                        <h4 class="conf-releaseNews__tit">相关新闻</h4>
                        <ul class="ui-list ext-releaseNews">
                            <li class="ui-list__item"><a href="#">光荣正版PCA页游《大航海t时代5》不删档情报月</a></li>
                            <li class="ui-list__item"><a href="#">3D写实第一人称射击网页游戏《火线行动》截图</a></li>
                            <li class="ui-list__item"><a href="#"> 新战略塔防页游来袭 《城防三国》留档内测今日</a></li>
                        </ul>
                    </div>
                    <p class="ui-figure__more">
                        <a href="#">了解更多 ></a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
