<div class="g-inner conf-featured__themeB">
    <div class="g-col conf-featured__left">
        <div class="ui-slide ext-dotted ext-themeB" data-role="slideB">
            <ul class="ui-slide__content" data-switchable-role="content">
                <li class="ui-slide__panel">
                    <a href="#">
                        <img src="http://ued.yypm.com/592x242x1" />
                        <span class="ui-slide__tit"><em>《神之浩劫》史诗CG发布史诗CG发布史诗CG发布史诗CG发史诗CG发布史诗C布</em></span>
                    </a>
                </li>
                <li class="ui-slide__panel u-hide">
                    <a href="#">
                        <img src="http://ued.yypm.com/592x242x2" />
                        <span class="ui-slide__tit"><em>《神之浩劫》史诗CG发布</em></span>
                    </a>
                </li>
                <li class="ui-slide__panel u-hide">
                    <a href="#">
                        <img src="http://ued.yypm.com/592x242x3" />
                        <span class="ui-slide__tit"><em>《神之浩劫》史诗CG发布</em></span>
                    </a>
                </li>
                <li class="ui-slide__panel u-hide">
                    <a href="#">
                        <img src="http://ued.yypm.com/592x242x4" />
                        <span class="ui-slide__tit"><em>《神之浩劫》史诗CG发布</em></span>
                    </a>
                </li>
            </ul>
            <ul class="ui-slide__nav" data-switchable-role="nav">
                <li class="ui-slide__trigger is-active">1</li>
                <li class="ui-slide__trigger">2</li>
                <li class="ui-slide__trigger">3</li>
                <li class="ui-slide__trigger">4</li>
            </ul>
        </div>
        <!-- 幻灯片 end -->
        
        <ul class="ui-media">  
            <li class="ui-media__item">
                <a href="#" class="ui-media__hd" title="">
                    <img src="http://ued.yypm.com/140x105" alt="alt文字" class="ui-media__img" />
                </a>
                <div class="ui-media__bd">
                    <h4 class="ui-media__tit"><a href="#" title="">DNF七周年之际迎来指尖革命 移动版即将推出</a></h4>
                    <p class="ui-media__txt">腾讯游戏讯3月30日消息，今日，UP2015腾讯互动娱乐年度发布会发出重磅消息，超人气格斗网游 —《地下城与勇士》（以下简称DNF）系列将要推出手游以移动端为契机，延续DNF这一经典IP是我... <a href="#" class="read-more">[详细]</a></p>
                </div>
            </li>
        </ul>
        <!-- 媒体列表 end -->
    </div>
    
    
    <div class="g-col conf-featured__right">
        <p class="conf-topNews"><a href="#">大黑新游《封天战神》隐藏副本首曝</a></p>
        
        <p class="conf-subNews">
            <a href="#">[刀锋铁骑4.1日内测]</a>
            <a href="#">[天涯明月刀5.28不删档]</a>
        </p>
        
        <ul class="ui-list ext-square ext-featureNews">
            <li class="ui-list__item">
                <span class="ui-list__meta">05/24</span>
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>天之翼OL火爆公测场面与您见证3D回合新游</a>
            </li>
            <li class="ui-list__item">
                <span class="ui-list__meta">05/24</span>
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>最受期待Q版2D影视网游 《白蛇传OL》整装待发</a>
            </li>
            <li class="ui-list__item">
                <span class="ui-list__meta">05/24</span>
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>天之翼OL火爆公测场面与您见证3D回合新游</a>
            </li>
            <li class="ui-list__item">
                <span class="ui-list__meta">05/24</span>
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>最受期待Q版2D影视网游 《白蛇传OL》整装待发</a>
            </li>
            <li class="ui-list__item">
                <span class="ui-list__meta">05/24</span>
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>最受期待Q版2D影视网游 《白蛇传OL》整装待发</a>
            </li>
            <li class="ui-list__item">
                <span class="ui-list__meta">05/24</span>
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>最受期待Q版2D影视网游 《白蛇传OL》整装待发</a>
            </li>
            <li class="ui-list__item">
                <span class="ui-list__meta">05/24</span>
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>最受期待Q版2D影视网游 《白蛇传OL》整装待发</a>
            </li>
        </ul>
        
        <p><a href="#" class="ui-btn ext-block">点击查看更多新闻></a></p>
    </div>
    <!-- 新闻列表 end -->

</div>
<!-- 首屏 end -->
