<div class="g-inner ui-panel">
    <div class="ui-panel__hd">
        <h2 class="ui-panel__tit">现场视频</h2>
        <span class="ui-panel__meta">/ Live video</span>
        <div class="ui-panel__more">
            <a href="#">更多></a>
        </div>
    </div>
    <div class="ui-panel__bd">
        <ul class="g-col ui-figure ext-liveVideoA ie-liveVideoA">
            <li class="ui-figure__item">
                <a href="#" class="ui-figure__bd" title="">
                    <img src="http://ued.yypm.com/398x298" alt="" class="ui-figure__img" />
                    <span class="ui-figure__mask">
                        <i class="icon-play-yellow"></i>
                        <span class="ui-figure__content">
                            <span class="ui-figure__tit">《神之浩劫》史诗CG发布</span>
                            <span class="ui-figure__digest">期待已久的第12届中国国际数码互动期待已久的第12届中国国际数码互动娱乐展览会娱乐展览会</span>
                        </span>
                    </span>
                </a>
            </li>
        </ul>
        <!-- 现场视频大图 end -->
        
        <div class="g-col conf-liveVideoList">
            <ul class="g-half ui-media ext-liveVideoA">  
                <li class="ui-media__item">
                    <a href="#" class="ui-media__hd" title="">
                        <img src="http://ued.yypm.com/112x84" alt="alt文字" class="ui-media__img" />
                        <i class="icon-play"></i>
                    </a>
                    <div class="ui-media__bd">
                        <h4 class="ui-media__tit"><a href="#" title="">《全职大师》宣传视频曝</a></h4>
                        <p class="ui-media__txt">每个角色在全职大师的世界中,都有着自 ... <a href="#" class="read-more">[详细]</a></p>
                    </div>
                </li>
                <li class="ui-media__item">
                    <a href="#" class="ui-media__hd" title="">
                        <img src="http://ued.yypm.com/112x84" alt="alt文字" class="ui-media__img" />
                        <i class="icon-play"></i>
                    </a>
                    <div class="ui-media__bd">
                        <h4 class="ui-media__tit"><a href="#" title="">《全职大师》宣传视频曝</a></h4>
                        <p class="ui-media__txt">每个角色在全职大师的世界中,都有着自 ... <a href="#" class="read-more">[详细]</a></p>
                    </div>
                </li>
                <li class="ui-media__item">
                    <a href="#" class="ui-media__hd" title="">
                        <img src="http://ued.yypm.com/112x84" alt="alt文字" class="ui-media__img" />
                        <i class="icon-play"></i>
                    </a>
                    <div class="ui-media__bd">
                        <h4 class="ui-media__tit"><a href="#" title="">《全职大师》宣传视频曝</a></h4>
                        <p class="ui-media__txt">每个角色在全职大师的世界中,都有着自 ... <a href="#" class="read-more">[详细]</a></p>
                    </div>
                </li>
                <li class="ui-media__item">
                    <a href="#" class="ui-media__hd" title="">
                        <img src="http://ued.yypm.com/112x84" alt="alt文字" class="ui-media__img" />
                        <i class="icon-play"></i>
                    </a>
                    <div class="ui-media__bd">
                        <h4 class="ui-media__tit"><a href="#" title="">《全职大师》宣传视频曝</a></h4>
                        <p class="ui-media__txt">每个角色在全职大师的世界中,都有着自 ... <a href="#" class="read-more">[详细]</a></p>
                    </div>
                </li>
                <li class="ui-media__item">
                    <a href="#" class="ui-media__hd" title="">
                        <img src="http://ued.yypm.com/112x84" alt="alt文字" class="ui-media__img" />
                        <i class="icon-play"></i>
                    </a>
                    <div class="ui-media__bd">
                        <h4 class="ui-media__tit"><a href="#" title="">《全职大师》宣传视频曝</a></h4>
                        <p class="ui-media__txt">每个角色在全职大师的世界中,都有着自 ... <a href="#" class="read-more">[详细]</a></p>
                    </div>
                </li>
                <li class="ui-media__item">
                    <a href="#" class="ui-media__hd" title="">
                        <img src="http://ued.yypm.com/112x84" alt="alt文字" class="ui-media__img" />
                        <i class="icon-play"></i>
                    </a>
                    <div class="ui-media__bd">
                        <h4 class="ui-media__tit"><a href="#" title="">《全职大师》宣传视频曝</a></h4>
                        <p class="ui-media__txt">每个角色在全职大师的世界中,都有着自 ... <a href="#" class="read-more">[详细]</a></p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 现场视频列表 end -->
        
    </div>
</div>
