<div class="g-inner ui-panel">
    <div class="ui-panel__hd">
        <h2 class="ui-panel__tit">新品发布</h2>
        <span class="ui-panel__meta">/ The new release</span>
        <div class="ui-panel__more">
            <a href="#">更多></a>
        </div>
    </div>
    <div class="ui-panel__bd">
        <ul class="ui-figure ext-releaseA">
            <li class="ui-figure__item">
                <a href="#" class="ui-figure__bd" title="">
                    <img src="http://img3.dwstatic.com/newgame/1505/296665774905/1432710827963.jpg" alt="" class="ui-figure__img" />
                </a>
                <div class="ui-figure__caption">
                    <h3 class="ui-figure__tit"><a href="#">《星河战神》</a></h3>
                    <ul class="conf-releaseInfo">
                        <li>研发：中国大陆</li>
                        <li>运营：腾讯</li>
                        <li>产地：韩国</li>
                        <li>简介：作为腾讯旗下飞行射击类手游，《星河战神》采用全3D场景、以太空诸神为题材，融合射击、追逐和养成等诸多玩法。</li>
                    </ul>
                    <p class="ui-figure__more">
                        <a href="#"><i class="icon-more"></i> 了解更多</a>
                    </p>
                </div>
            </li>
            <li class="ui-figure__item">
                <a href="#" class="ui-figure__bd" title="">
                    <img src="http://img3.dwstatic.com/newgame/1505/296665774905/1432710827963.jpg" alt="" class="ui-figure__img" />
                </a>
                <div class="ui-figure__caption">
                    <h3 class="ui-figure__tit">《星河战神》</h3>
                    <ul class="conf-releaseInfo">
                        <li>研发：中国大陆</li>
                        <li>运营：腾讯</li>
                        <li>产地：韩国</li>
                        <li>简介：作为腾讯旗下飞行射击类手游，《星河战神》采用全3D场景、以太空诸神为题材，融合射击、追逐和养成等诸多玩法。</li>
                    </ul>
                    <p class="ui-figure__more">
                        <a href="#"><i class="icon-more"></i> 了解更多</a>
                    </p>
                </div>
            </li>
            <li class="ui-figure__item">
                <a href="#" class="ui-figure__bd" title="">
                    <img src="http://ued.yypm.com/235x144" alt="" class="ui-figure__img" />
                </a>
                <div class="ui-figure__caption">
                    <h3 class="ui-figure__tit">《星河战神》</h3>
                    <ul class="conf-releaseInfo">
                        <li>研发：中国大陆</li>
                        <li>运营：腾讯</li>
                        <li>产地：韩国</li>
                        <li>简介：作为腾讯旗下飞行射击类手游，《星河战神》采用全3D场景、以太空诸神为题材，融合射击、追逐和养成等诸多玩法。</li>
                    </ul>
                    <p class="ui-figure__more">
                        <a href="#"><i class="icon-more"></i> 了解更多</a>
                    </p>
                </div>
            </li>
            <li class="ui-figure__item">
                <a href="#" class="ui-figure__bd" title="">
                    <img src="http://ued.yypm.com/235x144" alt="" class="ui-figure__img" />
                </a>
                <div class="ui-figure__caption">
                    <h3 class="ui-figure__tit">《星河战神》</h3>
                    <ul class="conf-releaseInfo">
                        <li>研发：中国大陆</li>
                        <li>运营：腾讯</li>
                        <li>产地：韩国</li>
                        <li>简介：作为腾讯旗下飞行射击类手游，《星河战神》采用全3D场景、以太空诸神为题材，融合射击、追逐和养成等诸多玩法。</li>
                    </ul>
                    <p class="ui-figure__more">
                        <a href="#"><i class="icon-more"></i> 了解更多</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
