<div class="conf-asideNav" data-role="asideNav">
    <ul class="conf-asideNav__list">
        <li class="conf-asideNav__item">
            <a class="aside-focus" href="#conf-1" target="_self" data-role="effectNav" data-backtotop-role='trigger'>
                <span class="conf-asideNav__icon"></span>
                <span class="conf-asideNav__tit">年会大会</span>
            </a>
        </li>
        <li class="conf-asideNav__item">
            <a class="aside-newProduct" href="#conf-2" target="_self" data-role="effectNav" data-backtotop-role='trigger'>
                <span class="conf-asideNav__icon"></span>
                <span class="conf-asideNav__tit">十强盛典</span>
            </a>
        </li>
        <li class="conf-asideNav__item">
            <a class="aside-video" href="#conf-3" target="_self" data-role="effectNav" data-backtotop-role='trigger'>
                <span class="conf-asideNav__icon"></span>
                <span class="conf-asideNav__tit">产品经理</span>
            </a>
        </li>
        <li class="conf-asideNav__item">
            <a class="aside-pic" href="#conf-4" target="_self" data-role="effectNav" data-backtotop-role='trigger'>
                <span class="conf-asideNav__icon"></span>
                <span class="conf-asideNav__tit">现场采访</span>
            </a>
        </li>
        <li class="conf-asideNav__item">
            <a class="aside-5" href="#conf-5" target="_self" data-role="effectNav" data-backtotop-role='trigger'>
                <span class="conf-asideNav__icon"></span>
                <span class="conf-asideNav__tit">现场照片</span>
            </a>
        </li>
        <li class="conf-asideNav__item">
            <a class="aside-totop" href="#conf-nav" target="_self" title="返回顶部" data-backtotop-role='trigger'>
                <span class="conf-asideNav__icon"></span>
            </a>
        </li>
    </ul>
</div>