<div class="g-inner ui-panel">
    <div class="ui-panel__hd">
        <h2 class="ui-panel__tit">现场照片</h2>
        <span class="ui-panel__meta">/ Scene photos</span>
        <div class="ui-panel__more">
            <a href="#">更多></a>
        </div>
    </div>
    <div class="ui-panel__bd">
        <div class="conf-photoList">
            <div class="g-col">
                <a class="conf-photo1" href="#">
                    <img src="http://ued.yypm.com/270x400" alt="">
                    <span>《QQ炫舞》开启产业合伙新模式</span>
                </a>
            </div>
            <div class="g-col">
                <a class="conf-photo2" href="#">
                    <img src="http://ued.yypm.com/352x200" alt="">
                    <span>《QQ炫舞》开启产业合伙新模式</span>
                </a>
                <a class="conf-photo3" href="#">
                    <img src="http://ued.yypm.com/175x198" alt="">
                    <span>《QQ炫舞》</span>
                </a>
                <a class="conf-photo4" href="#">
                    <img src="http://ued.yypm.com/175x198" alt="">
                    <span>《QQ炫舞》</span>
                </a>
            </div>
            <div class="g-col">
                <a class="conf-photo5" href="#">
                    <img src="http://ued.yypm.com/230x400" alt="">
                    <span>《QQ炫舞》开启产业合伙新模式</span>
                </a>
            </div>
            <div class="g-col">
                <a class="conf-photo6" href="#">
                    <img src="http://ued.yypm.com/142x200" alt="">
                    <span>《QQ炫舞》</span>
                </a>
                <a class="conf-photo7" href="#">
                    <img src="http://ued.yypm.com/142x198" alt="">
                    <span>《QQ炫舞》</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- 现场照片 end -->
