<div class="g-inner ui-panel">
    <div class="ui-panel__hd">
        <h2 class="ui-panel__tit">备用模板</h2>
        <span class="ui-panel__meta">/ Scene photos</span>
        <div class="ui-panel__more">
            <a href="#">更多></a>
        </div>
    </div>
    <div class="ui-panel__bd">
       <ul class="ui-figure ext-standby">
            <li class="ui-figure__item">
                <a href="#" class="ui-figure__bd" title="">
                    <img src="http://ued.yypm.com/184x138" alt="" class="ui-figure__img" />
                </a>
                <h3 class="ui-figure__caption"><a href="#">腾讯移动游戏携手刘慈欣发布11款手游</a></h3>
            </li>
            <li class="ui-figure__item">
                <a href="#" class="ui-figure__bd" title="">
                    <img src="http://ued.yypm.com/184x138" alt="" class="ui-figure__img" />
                </a>
                <h3 class="ui-figure__caption"><a href="#">腾讯移动游戏携手刘慈欣发布11款手游</a></h3>
            </li>
            <li class="ui-figure__item">
                <a href="#" class="ui-figure__bd" title="">
                    <img src="http://ued.yypm.com/184x138" alt="" class="ui-figure__img" />
                </a>
                <h3 class="ui-figure__caption"><a href="#">腾讯移动游戏携手刘慈欣发布11款手游</a></h3>
            </li>
            <li class="ui-figure__item">
                <a href="#" class="ui-figure__bd" title="">
                    <img src="http://ued.yypm.com/184x138" alt="" class="ui-figure__img" />
                </a>
                <h3 class="ui-figure__caption"><a href="#">腾讯移动游戏携手刘慈欣发布11款手游</a></h3>
            </li>
            <li class="ui-figure__item">
                <a href="#" class="ui-figure__bd" title="">
                    <img src="http://ued.yypm.com/184x138" alt="" class="ui-figure__img" />
                </a>
                <h3 class="ui-figure__caption"><a href="#">腾讯移动游戏携手刘慈欣发布11款手游</a></h3>
            </li>
        </ul>
    </div>
</div>
<!-- 备用模板 end -->
