<div class="g-inner ui-panel">
    <div class="ui-panel__hd">
        <h2 class="ui-panel__tit">现场视频</h2>
        <span class="ui-panel__meta">/ Live video</span>
        <div class="ui-panel__more">
            <a href="#">更多></a>
        </div>
    </div>
    <div class="ui-panel__bd">
        <div class="g-col conf-liveVideoPlayer">
            <img src="http://ued.yypm.com/627x352" />
            <!-- <div class="embed-video"><script type="text/javascript">var player_conf = {"letvVideoUnique":"","userUnique":"a04808d307","videoId":"0","vid":"121446","channelId":"newgame","autoPlay": "0","height":"352","width":"627"};</script><script type="text/javascript" src="http://assets.dwstatic.com/video/vp.js"></script></div> -->
        </div>
        <!-- 现场直播 end -->
        
        <ul class="g-col ui-media ext-liveVideoB">  
            <li class="ui-media__item">
                <a href="#" class="ui-media__hd" title="">
                    <img src="http://ued.yypm.com/136x102" alt="alt文字" class="ui-media__img" />
                    <i class="icon-play"></i>
                </a>
                <div class="ui-media__bd">
                    <h4 class="ui-media__tit"><a href="#" title="">《全职大师》宣传视频曝</a></h4>
                    <p class="ui-media__txt">每个角色在全职大师的世界中,都有着自 ... <a href="#" class="read-more">[详细]</a></p>
                </div>
            </li>
            <li class="ui-media__item">
                <a href="#" class="ui-media__hd" title="">
                    <img src="http://ued.yypm.com/136x102" alt="alt文字" class="ui-media__img" />
                    <i class="icon-play"></i>
                </a>
                <div class="ui-media__bd">
                    <h4 class="ui-media__tit"><a href="#" title="">《全职大师》宣传视频曝</a></h4>
                    <p class="ui-media__txt">每个角色在全职大师的世界中,都有着自 ... <a href="#" class="read-more">[详细]</a></p>
                </div>
            </li>
            <li class="ui-media__item">
                <a href="#" class="ui-media__hd" title="">
                    <img src="http://ued.yypm.com/136x102" alt="alt文字" class="ui-media__img" />
                    <i class="icon-play"></i>
                </a>
                <div class="ui-media__bd">
                    <h4 class="ui-media__tit"><a href="#" title="">《全职大师》宣传视频曝</a></h4>
                    <p class="ui-media__txt">每个角色在全职大师的世界中,都有着自 ... <a href="#" class="read-more">[详细]</a></p>
                </div>
            </li>
        </ul>
        <!-- 现场视频列表 end -->
        
    </div>
</div>
