<div class="g-inner conf-featured__themeA">
    <div class="g-col conf-featured__left">
        <div class="ui-slide ext-dotted" data-role="slideA">
            <ul class="ui-slide__content" data-switchable-role="content">
                <li class="ui-slide__panel">
                    <a href="#">
                        <img src="http://img5.dwstatic.com/newgame/1505/296671086604/1432716088154.jpg" />
                        <span class="ui-slide__tit"><em>《神之浩劫》史诗CG发布史诗CG发布史诗CG发布史诗CG发布</em></span>
                    </a>
                </li>
                <li class="ui-slide__panel u-hide">
                    <a href="#">
                        <img src="http://ued.yypm.com/380x376x2" />
                        <span class="ui-slide__tit"><em>《神之浩劫》史诗CG发布</em></span>
                    </a>
                </li>
                <li class="ui-slide__panel u-hide">
                    <a href="#">
                        <img src="http://ued.yypm.com/380x376x3" />
                        <span class="ui-slide__tit"><em>《神之浩劫》史诗CG发布</em></span>
                    </a>
                </li>
                <li class="ui-slide__panel u-hide">
                    <a href="#">
                        <img src="http://ued.yypm.com/380x376x4" />
                        <span class="ui-slide__tit"><em>《神之浩劫》史诗CG发布</em></span>
                    </a>
                </li>
            </ul>
            <ul class="ui-slide__nav" data-switchable-role="nav">
                <li class="ui-slide__trigger is-active">1</li>
                <li class="ui-slide__trigger">2</li>
                <li class="ui-slide__trigger">3</li>
                <li class="ui-slide__trigger">4</li>
            </ul>
        </div>
    </div>
    <!-- 幻灯片 end -->
    
    <div class="g-col conf-featured__mid">
        <p class="conf-topNews"><a href="#">大黑新游《封天战神》隐藏副本首曝</a></p>
        
        <ul class="ui-list ext-square ext-featureNews">
            <li class="ui-list__item">
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>天之翼OL火爆公测场面与您见证3D回合新游</a>
            </li>
            <li class="ui-list__item">
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>最受期待Q版2D影视网游 《白蛇传OL》整装待发</a>
            </li>
            <li class="ui-list__item">
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>天之翼OL火爆公测场面与您见证3D回合新游</a>
            </li>
            <li class="ui-list__item">
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>最受期待Q版2D影视网游 《白蛇传OL》整装待发</a>
            </li>
            <li class="ui-list__item">
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>最受期待Q版2D影视网游 《白蛇传OL》整装待发</a>
            </li>
            <li class="ui-list__item">
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>最受期待Q版2D影视网游 《白蛇传OL》整装待发</a>
            </li>
            <li class="ui-list__item">
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>天之翼OL火爆公测场面与您见证3D回合新游</a>
            </li>
            <li class="ui-list__item">
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>最受期待Q版2D影视网游 《白蛇传OL》整装待发</a>
            </li>
            <li class="ui-list__item">
                <a class="ui-list__link" href="#" title=""><i class="ui-list__square"></i>最受期待Q版2D影视网游 《白蛇传OL》整装待发</a>
            </li>
        </ul>
        
        <p><a href="#" class="ui-btn ext-block">点击查看更多新闻></a></p>
    </div>
    <!-- 新闻列表 end -->
    
    <div class="g-col conf-featured__right">
        <div class="conf-liveFlow">
            <h2 class="conf-liveFlow__tit"><i class="icon-time"></i>发布会直播流程</h2>
            <ol class="conf-timeline">
                <li class="conf-timeline__item">
                    <span class="conf-timeline__time">10:00</span>
                    <span class="conf-timeline__txt">发布会开幕 程武致辞</span>
                </li>
                <li class="conf-timeline__item">
                    <span class="conf-timeline__time"></span>
                    <span class="conf-timeline__txt">电影动漫 + 文学</span>
                </li>
                <li class="conf-timeline__item">
                    <span class="conf-timeline__time"></span>
                    <span class="conf-timeline__txt">电影动漫 + 文学</span>
                </li>
                <li class="conf-timeline__item">
                    <span class="conf-timeline__time"></span>
                    <span class="conf-timeline__txt">电影动漫 + 文学</span>
                </li>
                <li class="conf-timeline__item">
                    <span class="conf-timeline__time"></span>
                    <span class="conf-timeline__txt">电影动漫 + 文学</span>
                </li>
                <li class="conf-timeline__item">
                    <span class="conf-timeline__time">12:00</span>
                    <span class="conf-timeline__txt">DNF移动版保卫萝卜手游萝卜手游萝卜手游</span>
                </li>
                <li class="conf-timeline__item">
                    <span class="conf-timeline__time">14:00</span>
                    <span class="conf-timeline__txt">电影动漫 + 文学</span>
                </li>
                <li class="conf-timeline__item">
                    <span class="conf-timeline__time"></span>
                    <span class="conf-timeline__txt">电影动漫 + 文学</span>
                </li>
                <li class="conf-timeline__item">
                    <span class="conf-timeline__time">17:00</span>
                    <span class="conf-timeline__txt">电影动漫 + 文学</span>
                </li>
                <li class="conf-timeline__item is-last">
                    <span class="conf-timeline__time"></span>
                    <span class="conf-timeline__txt">电影动漫 + 文学</span>
                </li>
            </ol>
        </div>
    </div>
    <!-- 展会介绍 end -->

</div>
<!-- 首屏 end -->
